Repository wdiazux/yolistli-scenarios: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --single--quote, eslint --fix, prettier --write

small style update
  README.md
Due: none

added missing dependencies
  .gitignore
  package.json
  yarn.lock
Due: none

removed git add from tasks
  .lintstagedrc
Due: none

added local test
  .eslintignore
  dist/index.html
  dist/panel.css
  dist/yolistli.js
  package.json
  scenarios/espilit/settings.json
  src/index.html
  src/index.ts
  src/local-test/index.html
  src/local-test/main.js
  src/local-test/model/.empty
  src/local-test/settings.json
  src/styles/panel.scss
  yarn.lock
Due: prettier --write --single--quote, eslint --fix, prettier --write

omit babylon files from local-test
  .gitignore
Due: none

style renamed
  dist/index.html
  dist/yolistli.css
  dist/yolistli.js
  package.json
  scenarios/cihuatan/index.html
  scenarios/espilit/index.html
  src/index.ts
  src/styles/style.scss
  webpack/webpack.dev.js
  webpack/webpack.prod.js
  yarn.lock
Due: prettier --write --single--quote, eslint --fix, prettier --write

added roboto font
  dist/fonts/Roboto-Regular.woff
  dist/fonts/Roboto-Regular.woff2
  dist/index.html
  dist/yolistli.css
  dist/yolistli.js
  package.json
  src/index.ts
  src/styles/style.scss
  yarn.lock
Due: prettier --write --single--quote, eslint --fix, prettier --write

portals template added
  src/portals-template/index.html
  src/portals-template/main.js
  src/portals-template/textures/equirectangular.jpg
Due: prettier --write --single--quote, eslint --fix

new title
  src/index.html
Due: none

fixed style file name
  src/local-test/index.html
Due: none

removed extra extension
  src/local-test/index.html
Due: none

added vrHelper
  dist/index.html
  dist/yolistli.js
  package.json
  src/index.ts
  yarn.lock
Due: prettier --write --single--quote, eslint --fix

create vrHelper in the beginning
  dist/index.html
  dist/yolistli.js
  src/index.ts
Due: prettier --write --single--quote, eslint --fix

WebGL2 support removed
  dist/index.html
  dist/yolistli.js
  src/index.ts
Due: prettier --write --single--quote, eslint --fix

console logs removed
  dist/index.html
  dist/yolistli.js
  src/index.ts
Due: prettier --write --single--quote, eslint --fix

posters added
  scenarios/cihuatan/poster.jpg
  scenarios/espilit/poster.jpg
Due: none

check if button exist
  dist/index.html
  dist/libs/yolistli.js
  src/index.ts
Due: prettier --write --single--quote, eslint --fix

added pepjs to the libraries for ios
  dist/index.html
  dist/libs/yolistli.js
  src/index.ts
Due: prettier --write --single--quote, eslint --fix

variable isMobile now is global
  dist/index.html
  dist/libs/yolistli.js
  src/index.ts
Due: prettier --write --single--quote, eslint --fix

creation debug button improved
  dist/index.html
  dist/libs/yolistli.js
  src/index.ts
  src/tools/createFragments.ts
Due: prettier --write --single--quote, eslint --fix

fixed teletransportation
  .gitignore
  dist/index.html
  dist/libs/yolistli.js
  src/index.ts
Due: prettier --write --single--quote, eslint --fix

added ground as option
  dist/index.html
  dist/libs/yolistli.js
  dist/scenarios/cihuatan/main.js
  dist/scenarios/cihuatan/settings.json
  dist/scenarios/espilit/main.js
  dist/scenarios/espilit/settings.json
  src/index.ts
Due: prettier --write --single--quote, eslint --fix

added ground to local test
  src/local-test/main.js
  src/local-test/settings.json
Due: prettier --write --single--quote, eslint --fix

added mission option collision
  dist/index.html
  dist/libs/yolistli.js
  dist/scenarios/cihuatan/main.js
  dist/scenarios/espilit/main.js
  src/index.ts
  src/local-test/main.js
Due: prettier --write --single--quote, eslint --fix

overlay style updated
  dist/index.html
  dist/libs/yolistli.css
  dist/libs/yolistli.js
  src/index.ts
  src/styles/style.scss
Due: prettier --write --single--quote, eslint --fix, prettier --write

added loading libraries
  .prettierrc
  dist/index.html
  dist/libs/yolistli.css
  dist/libs/yolistli.js
  dist/scenarios/espilit/index.html
  src/index.html
  src/index.ts
  src/local-test/index.html
  src/styles/style.scss
Due: prettier --write --single--quote, eslint --fix, prettier --write

added loading libraries
  dist/scenarios/cihuatan/index.html
Due: none

color black for text
  src/index.html
Due: none

color black for text
  dist/index.html
  dist/libs/yolistli.css
Due: none

new start position for new model
  dist/scenarios/cihuatan/settings.json
  src/local-test/settings.json
Due: none

new name for ground
  dist/scenarios/cihuatan/settings.json
  src/local-test/settings.json
Due: none

style for body and html
  dist/index.html
  dist/libs/yolistli.css
  src/styles/style.scss
Due: prettier --write

new speed value
  dist/index.html
  dist/libs/yolistli.js
  src/index.ts
Due: prettier --write --single--quote, eslint --fix

update gravity values
  dist/index.html
  dist/libs/yolistli.js
  src/index.ts
Due: prettier --write --single--quote, eslint --fix

Path conditions:
  prettier --write --single--quote: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.scss) or (any of: {*.{json,md,html}})
